
h1 {
    font-size: 80px;
    color: #87b087;
}
body {
    background-color: #ffffff ;
    color:#87b087;
    
    font-family: Arial, Helvetica, sans-serif;
}
a, li, h2, h3, h4, h5 {
    color:#009933  ; 
}

li {
    font-size: 30px;
  
}
p { 
    color:#87b087 ;
}
footer {
    font-size: small;
    color:rgb(72, 72, 66)
    font-style - italic;
}

footer p {
    font-size: 8;
    line-height: 90%;
    color:grey;
    font-family: 'Times New Roman', Times, sans-serif;
}

.special_footer {
    color: red ;
}



.special_ol li:last-child {
    font-weight : bold
} 
